/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENERALI */

.container{
    max-width: 70%;
    margin: 0 auto;
}


/* HEADER */

header{
    background-color: #ff6900;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

header .header-container div ul {
    list-style: none;
}

header .header-container div ul li {
    display: inline-block;
    font-size: 1.2em;
    padding-right: 7px;
}

header .header-container div ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header .header-container div img {
    max-height: 35px;
}

header .header-container .menu a {
    font-size: 1.2em;
    padding-left: 7px;
    color: white;
    text-decoration: none;
}


/* MAIN */

main{
    margin-top: 100px;
}

main .cards-container{
    display: flex;
}

main .cards-container .card {
    width: calc(100% / 3);
    padding: 10px;
}

main .cards-container .card .img img {
    width: 100%;
} 

main .cards-container .card .img .second-img {
    display: none;
} 

main .cards-container .card .img:hover img.first-img {
    display: none;
} 

main .cards-container .card .img:hover img.second-img {
    display: inline-block;
} 


main .cards-container .card .img{
    position: relative;
} 

main .cards-container .card .img .labels{
    position: absolute;
    bottom: 80px;
} 

main .cards-container .card .img div .box{
    color: white;
    padding: 5px;
}

main .cards-container .card .img div .green{
    background-color: #008000;
}

main .cards-container .card .img div .red{
    background-color: #ff0000;
}

main .cards-container .card .img .heart{
    background-color: white;
    font-size: 1.5em;
    padding: 15px;
    position: absolute;
    top: 20px;
    right: 0;
}

main .cards-container .card .img .heart:hover{
    color: red;
    cursor: pointer;
}

main .cards-container .card .info .discount-price{
    color: red;
    font-weight: bold;
}

main .cards-container .card .info .old-price{
    text-decoration: line-through;
}

/* FOOTER */

footer{
    background-color: #1a1a1a;
    color: white;
}

footer .footer-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

footer .footer-container div h5{
    font-size: 1.2em;
    padding-bottom: 10px;
}

footer .footer-container div ul{
    list-style: none;
}

footer .footer-container div ul li{
    display: inline-block;
}

footer .footer-container div ul li a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

footer .footer-container .socials h6{
    font-size: 0.8em;
    padding-bottom: 10px;
}

footer .footer-container .socials .socials-icons i{
    font-size: 1.5em;
    padding-left: 2px;
    cursor: pointer;
}